
span[id^='cmbd_']{position:relative;left:0;width:100px;height:31px;display:inline-block;
    overflow:hidden;white-space:pre-wrap;padding:0;margin:0;}

#cmbd_closed{
    background: url('bdgsa.png')no-repeat; background-position: -3px -3px;}
#cmbd_completed{
    background: url('bdgsa.png')no-repeat; background-position: -3px -36px;}
#cmbd_reviewing{
    background: url('bdgsa.png')no-repeat; background-position: -3px -69px;}
#cmbd_pending{
    background: url('bdgsa.png')no-repeat; background-position: -3px -102px;}
#cmbd_planned{
    background: url('bdgsa.png')no-repeat; background-position: -3px -135px;}
#cmbd_notplanned{
    background: url('bdgsa.png')no-repeat; background-position: -3px -168px;}
#cmbd_archived{
    background: url('bdgsa.png')no-repeat; background-position: -3px -201px;}
#cmbd_onhold{
    background: url('bdgsa.png')no-repeat; background-position: -3px -234px;}
#cmbd_release{
    background: url('bdgsa.png')no-repeat; background-position: -3px -267px;}
#cmbd_prerelease{
    background: url('bdgsa.png')no-repeat; background-position: -3px -300px;}
#cmbd_tagged{
    background: url('bdgsa.png')no-repeat; background-position: -3px -333px;}
#cmbd_duplicate{
    background: url('bdgsa.png')no-repeat; background-position: -3px -366px;}
#cmbd_backlog{
    background: url('bdgsa.png')no-repeat; background-position: -3px -399px;}
#cmbd_waiting{
    background: url('bdgsa.png')no-repeat; background-position: -3px -432px;}
